<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projects</title>
    <link href="../css/output.css" rel="stylesheet">
    <link rel="stylesheet" href="../css/input.css">
</head>

<body class="h-screen w-screen flex justify-center items-center bg-black font-win95font">
    <div class="bg-[#BEBEBE] h-2/3 w-1/2 flex justify-center items-center">
        <span>No projects to display as of now. Check out other features of this website :)</span>
    </div>
</body>

</html>